{% include 'header.twig' %}

   <br><br>


<br>
      <div id="block_93">
    <div class="new_order-block ">
        <div class="bg"></div>
        <div class="divider-top"></div>
        <div class="divider-bottom"></div>
        <div class="container">
            <div class="row new-order-form">
                <div class="col-lg-8 offset-lg-2">
                   <div class="component_form_group component_card component_radio_button">
                      <div class="card ">
    <div class="col-md-12">
<h4>{{ blogtitle }}</h4>
{% if blogimage %} 


					<img src="{{blogimage}}" alt="{{ blogtitle }}" class="img-responsive">
                   
{% endif %} 
{{ blogcontent }} 


      
<center><a href="blog"><button class="btn btn-big-primary" >Go Back </button></a> </center>
</div>
    </div>
  </div>  </div>
 </div> </div>

</div> </div>
  </div>
</div>

{% include 'footer.twig' %}
