{% include 'header.twig' %}
	<br><br><br>
	
	<div class="container-fluid container-fluid-spacious">
		<div class="row">
			<div class="col-md-12">
			{% if contentText %}
{{ contentText }}
{% endif %}
				{% if contentText2 %}
{{ contentText2 }}
{% endif %}
				
			</div>
		</div>
	</div>
   
      
        
   